<h2 style="width: 99%;">Add New Drug!</h2>
<input style="width: 100%;" type="text" [(ngModel)]="newName" placeholder="name"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="compname" placeholder="Compound Name"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="molucularfor" placeholder="Molucular Formula"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="structure" placeholder="Structure"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="molucularwt" placeholder="Molucular Weight"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="smile" placeholder="Smile"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="phycheproperties" placeholder="Physico Chemical Properties"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="genus" placeholder="Genes"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="speciesname" placeholder="Species Name"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="family" placeholder="Family"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="geolocation" placeholder="Geographical Location"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="chemicalclassification" placeholder="Chemical Classification"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="meltingpoint" placeholder="Melting Point"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="massspectra" placeholder="Mass Spectra"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="msms" placeholder="MSMS"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="uv" placeholder="UV"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="irspector" placeholder="IR Spector"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="hmnr" placeholder="1HMNR"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="cmnr" placeholder="13CNMR"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="hplc" placeholder="HPLC"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="activity" placeholder="Activity along with MOA"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="toxicity" placeholder="Toxicity"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="clinicaltrial" placeholder="Clinical Trial"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="afi" placeholder="AFI"><br><br>
<input style="width: 100%;" type="text" [(ngModel)]="reference" placeholder="Reference"><br><br>
<button type="submit" type="button" class="btn btn-primary" (click)="addDrug()" style="width: 100%;"> Add Drug</button>